/* Estilos generales para la galería */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .side-menu {
    width: 250px;
    background-color: #f4f4f4;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
}

.side-menu h3 {
    text-align: center;
    margin-bottom: 20px;
    
}

.side-menu ul {
    list-style-type: none;
}

.side-menu ul li {
    margin: 10px 0;
}

.side-menu ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #333;
}

  h1 {
    text-align: center;
    color: #2c3e50;
    margin-top: 20px;
  }
  
  .gallery-container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  /* Estilo para la galería en cuadrícula */
  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
  
  /* Estilo para cada elemento de la galería */
  .gallery-item {
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .gallery-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .gallery-item video {
    width: 100%;
    border-radius: 8px;
  }
  
  .gallery-item p {
    margin-top: 10px;
    font-size: 1.1em;
    color: #34495e;
  }
  
  